<div class="orders-container fadeIn">
  <h2>{{ role === 'CHEF' ? 'Solicitudes de Comensales' : 'Mis Reservas Gourmet' }}</h2>

  <div class="order-card" *ngFor="let order of orders">
    <div class="order-info">
      <h4>Menú: {{ order.menuTitle }}</h4>
      <p>{{ order.date | date:'mediumDate' }} | 👥 {{ order.diners }} pers.</p>
      <span class="status-badge" [ngClass]="order.status">{{ order.status }}</span>
    </div>

    <div class="chef-actions" *ngIf="role === 'CHEF' && order.status === 'PENDING'">
      <button class="btn-accept" (click)="handleRequest(order.id, 'ACCEPTED')">Aceptar</button>
      <button class="btn-reject" (click)="handleRequest(order.id, 'REJECTED')">Rechazar</button>
    </div>
  </div>
</div>
