<footer class="footer">
  <div class="footer-columns">
    <div class="column">
      <h3>Sobre nosotros</h3>
      <a routerLink="/contact">Contacto</a>
      <a routerLink="/aboutUs">¿Quiénes somos?</a>
    </div>
    <div class="column">
      <h3>Cómo utilizarnos</h3>
      <a routerLink="/cancellation-policy">Políticas de cancelación</a>
      <a routerLink="/privacy-policy">Política de privacidad</a>
    </div>
    <div class="column">
      <h3>Trabaja con nosotros</h3>
      <a routerLink="/join-us">Únete al equipo de chefs</a>
    </div>
  </div>
  <p class="copyright">© Chef Pro | Todos los derechos reservados 2026</p>
</footer>
