server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chef_pro
    username: root
    password: chefpr01;

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

logging:
  level:
    org:
      springframework:
        security=DEBUG:
