<nav class="navbar">
  <button class="hamburger-btn" (click)="toggleMenu()">
    <span class="menu-icon">≡</span>
  </button>

  <div class="nav-links" [class.open]="isMenuOpen">
    <button class="close-btn" (click)="toggleMenu()">✕</button>

    <a routerLink="/index" (click)="isMenuOpen = false">Inicio</a>
    <a routerLink="/aboutUs" (click)="isMenuOpen = false">Sobre nosotros</a>
    <a routerLink="/contact" (click)="isMenuOpen = false">Contacto</a>
    <a routerLink="/signIn" (click)="isMenuOpen = false">Únete</a>
  </div>

  <div class="nav-actions">
    <div class="search-box" [class.expanded]="isSearchOpen">
      <button class="filter-menu-btn" (click)="$event.stopPropagation(); toggleFilterMenu()">
        <span class="menu-icon" [style.color]="hasFilterActive ? '#A67C00' : 'inherit'">
          {{ showFilterMenu ? '▽' : '▷' }}
        </span>
      </button>

      <input type="text" placeholder="Buscar..." [(ngModel)]="searchText" (keyup.enter)="performSearch()"
        class="search-input" appFocusOnInit>

      <button class="search-submit-btn" (click)="toggleSearch()">
        <img src="/logos/magnifier.svg" alt="Buscar" class="search-icon-svg">
      </button>

      @if (showFilterMenu) {
        <div class="filter-dropdown-container" @fadeInOut>
          <app-search-filter
            (close)="showFilterMenu = false"
            (apply)="onFilterApplied($event)">
          </app-search-filter>
        </div>
      }

    </div>

    <button class="user-btn" (click)="handleUserClick()" id="user-img-btn">
      <img [src]="userProfileImage"
           (error)="handleImageError($event)"
           alt="Usuario"
           class="user-svg"
           [class.default-icon]="userProfileImage.includes('users.svg')"
           style="border-radius: 50%;">
    </button>
  </div>

  @if (currentUser && isUserMenuOpen) {
    <app-user-menu (closeMenu)="closeUserMenu()"></app-user-menu>
  }

</nav>
