<div class="main-container">

  <header class="top-bar">
    <button class="menu-btn" (click)="toggleMenu()">
      <span class="burger-icon">☰</span>
    </button>
  </header>

  <div class="nav-links" [class.open]="isMenuOpen">
    <button class="close-btn" (click)="toggleMenu()">✕</button>
    <nav class="links-container">
      <a routerLink="/index" (click)="toggleMenu()">Inicio</a>
      <a routerLink="/aboutUs" (click)="toggleMenu()">Sobre nosotros</a>
      <a routerLink="/contact" (click)="toggleMenu()">Contacto</a>
      <a routerLink="/login" (click)="toggleMenu()">Iniciar sesión</a>
      <a routerLink="/signIn" (click)="toggleMenu()">Únete</a>
    </nav>
  </div>

  @if (isMenuOpen) {
    <div class="menu-overlay" (click)="toggleMenu()"></div>
  }

  <main class="content">
    <div class="welcome-container">
      <h2 class="cursive-title">Bienvenidos a</h2>
      <img src="logos/largeWebsiteLogo.svg" alt="Chef Pro Logo" class="logo-img">
    </div>

    <button class="cta-button" routerLink="/index"
        data-tooltip="Descubre un nuevo mundo culinario">¿Qué vas a comer hoy?</button>
  </main>

  <footer class="simple-footer">
    <p>© Chef Pro | Todos los derechos reservados 2026</p>
  </footer>

</div>
