:root {
  --cream-bg: #FDF7F0;
  --dark-brown: #512109; 
  --divider-brown: #512109;
  --gold-button: #9C7710;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  background-color: white;
}
